<div>
  <form>
      <div class="container">
          <div>
              <h3 class="center-h">Username:</h3>
              <input [(ngModel)]="username" type="text" name="username" placeholder="Type in your username">
          </div>

          <div>
              <h3 class="center-h"> Password:</h3>
              <input [(ngModel)]="password" type="text" name="password" placeholder="Type in your password">
          </div>

          <div>
              <input type="button" (click)= "login()" value="Login">
          </div>
      </div>
  </form>
</div>