.container{
    margin: auto;
    position: static;
    height: 200px;
    width: 500px;
    background-color: crimson;
    margin: 300px;
    // opacity: 50%;
    text-align: center;
    display: block;
    place-items: center;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 200px;
    padding-bottom: 200px;
    border: medium;
    border-radius: 2px;
    border: 2px solid black;  
}

input[type=text]{
    height: 25px;
    width: 200px;
    background-color: ivory;
    border-radius: 1px;
    border: 2px solid rgb(0, 0, 0);
    outline: none;
    font-size: 18px;
}

::placeholder{
    color: rgb(0, 0, 0);
    font-size: 15px;
}

input[type=text]:focus{
    color:rgb(0, 0, 0);
}

.center-h {
    text-align: left;
    color: black;
    margin: 1px;
    font-size: 15px;
    padding-left: 150px;
    padding-top: 25px;
}

input[type=button]{
margin: 15px;
height: 35px;
width: 150px;
border-radius: 3px;
outline: none;
border: 2px solid black;
font-size: 15px;
}
